.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.selected {
	background: #d5eefb;
}
table, thead, tbody {
	display: block !important;
}

.ol-control{
  background-color: rgba(0, 0, 0, 0.4);
}

.ol-zoom{
  left: unset;
  right: .5em;
}

.ol-rotate{
  top: 4.875em;
}

.ol-geocoder{
  position: unset !important;
}

.gcd-gl-control{
  position: relative;
  float: left;
  width: 16.5em !important;
  background: none
}

.gcd-gl-input{
  width: 16em !important;
}



#searchLocations{
  position: absolute;
  right: 4em;
  top: 1em;
}
