
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.selected {
	background: #d5eefb;
}

.ol-control{
  background-color: rgba(0, 0, 0, 0.4);
}

.ol-zoom{
  left: unset;
  right: .5em;
}

.ol-rotate{
  top: 4.875em;
}

.gcd-gl-btn{
  height:2em !important;
  width: 2em !important;
}

.gcd-gl-control{
  position: relative;
  float: left;
  width: 16.5em !important;
  background: none !important;
}

.gcd-gl-input{
  width: 16em !important;
}

input[type='file'] {
  display: none;
}


#searchLocations{
  position: absolute;
  right: 4em;
  top: 1em;
  width: 250px;
}
